<div class="page-wrapper chiller-theme toggled">
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Start First Row -->

                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <app-semester-selector class="row">
                            </app-semester-selector>
                        </div>
                    </div>

                </div>

            </div> <!-- End First Row -->
            <hr>

            <div class="row">
                <!-- Start Card Row -->
                <div class="card-border mr-1" *ngFor="let info of sectionInformation | async">
                    <div class="col-md-3">
                        <div class="card border-0" style="width: 14rem; height: 450px;">
                            <img src="../assets/img/algo.png" style="width: 220px; height: 140px;"
                                class="card-img-top mt-3" alt="...">
                            <div class="card-body">
                                <h2 class="card-title text-center course-code">{{info.code}}</h2>
                                <hr>
                                <h3 class="card-text text-center course-name">{{info.course_name}}</h3>
                                <hr>
                                <h4 class="card-text text-center section-list">{{info.section.join(", ")}}</h4>
                            </div>
                            <div class="card-btn my-3">
                                <a [routerLink]="['/faculty/configcourse', {'code':info.code}]" class="btn btn-warning">Config</a>
                                <a href="course_configuration.html" target="_blank" class="btn btn-info">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Card ROw -->
        </div>
    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->