.c-card{
    box-shadow: 6px 6px 29px -6px rgba(0,0,0,0.75);
    padding: 15px;
}
.c-card-body{
    display: flex;
  
  
}
.c-card-body-title{
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;;
}
.c-card-thumbnel{
    position: absolute;
    top: -30px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.c-card-body-content{
    width: 60%;
}


.c-card-footer{
    display: flex;
}
.c-btn-1{

}