<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-semester-selector class="row">
            </app-semester-selector>
        </div>
    </div> <!-- End First Row -->
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="c-card">
                <div class="c-card-body">
                    <div class="c-card-body-title">
                        <div class="c-card-thumbnel">
                          CSE420
                        </div>
                    </div>
                    <div class="c-card-body-content">
                        <h5>Computer Graphics</h5>
                        <p>Total Sections :</p>
                    </div>
                </div>
                <div class="c-card-footer">
                    <a class="c-btn-1">Course Config</a>
                    <a class="c-btn-1">Student Config</a>  
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="c-card">
                <div class="c-card-body">
                    <div class="c-card-body-title">
                        <div class="c-card-thumbnel">
                          CSE420
                        </div>
                    </div>
                    <div class="c-card-body-content">
                        <h5>Computer Graphics</h5>
                        <p>Total Sections :</p>
                    </div>
                </div>
                <div class="c-card-footer">
                    <a class="c-btn-1">Course Config</a>
                    <a class="c-btn-1">Student Config</a>  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
   
       
    </div>
</div>