.ml {
    margin-left: 0px;
}

.form-group {
    margin-bottom: 0 !important;
}

.form-control.form-control-sm.ml-3.w-75.text-center.search-button {
    margin-left: 130px !important;
    padding: 1rem .75rem !important;
}

.page-wrapper.toggled .page-content {
    padding-left: 20px;
}

.form-group.input-group select {
    font-size: 24px;
    text-align: center;
    background-color: #689F38 !important;
    color: #fff;
}

.file-field input {
    font-size: 24px !important;
    height: 36px !important;
}

.form-group select {
    text-align: center;
    border-radius: 4px;
}

.form-group label {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 9px;
}

.student-mark-input-table-border {
    box-shadow: 0px 4px 4px 0px #888;
    border-radius: 5px;
    border: 1px solid;
    margin-right: 8px;
}

.col-md-12.table-scroling {
    max-height: calc(100% - 30%);
    height: calc(100% - 30%);
    overflow-y: auto;
    position: relative;
}

.student-table-scrol {
    width: 1034px;
    z-index: 999;
    height: 340px;
}

.parentPillDiv {
    float: left;
    margin: 3px;
    background-color: #8FE4D6;
}

.parentPillDiv .btnPillBox {
    background-color: #3EAA9F;
    color: #fff;
}

.show-cell {
    background: white;
    font-weight: bolder;
    border-right: 2px solid lightgrey !important;
    border-bottom: 3px solid lightgrey !important;
}

.show-name {
    font-weight: bold;
}

.show-presenter {
    font-style: italic;
}