<div class="col-md-4 col-sm-6">
    <div class="form-group text-center">
        <select #courseSelector class="form-control" id="courseSelector" (change)="courseChanged(courseSelector.value)">
            <option selected="" disabled>Course</option>
            <option *ngFor="let course of courses" [(selected)]="course.selected">
                {{course.code}}
            </option>
        </select>
    </div>
</div>
<div class="col-md-4 col-sm-6">
    <div class="form-group text-center">

        <select class="form-control" id="sectionSelector" (change)="sectionChanged()">
            <option selected="" disabled>Section</option>
            <option *ngFor="let section of sections">
                {{section}}
            </option>
        </select>
    </div>
</div>