<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 offset-md-3">
                    <!-- End Main Row -->
                    <h3>Edit Profile</h3>
                    <hr><br>

                    <div class="form-group">
                        <label for="">Full Name</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="">Designation</label>
                        <select class="form-control">
                            <option selected="">All</option>
                            <!-- 
                <option>Vice Chancellor</option>
                <option>Pro-Vice Chancellor</option>
                <option>Dean</option> -->
                            <option>Chairperson</option>
                            <option>Professor</option>
                            <option>Associate Professor</option>
                            <option>Assistant Professor</option>
                            <option>Senior Lecturer</option>
                            <option>Lecturer</option>
                            <option>Adjunct Faculty</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Previous Password</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="">New Password</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <br>

                    <button type="button" class="btn btn-success update-btn">Update</button>
                </div>
            </div>
        </div>
    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->