<div class="col-md-4 col-sm-6">
    <div class="form-group text-center">
        <select #courseSelector class="form-control" (change)="courseChanged()"
            [(ngModel)]="selectedCourse" [compareWith]="courseCompare"
        >
            <option [value]="null" [disabled]="true">Course</option>
            <option *ngFor="let course of courses" [ngValue]="course">
                {{course.code}}
            </option>
        </select>
    </div>
</div>
<div class="col-md-4 col-sm-6">
    <div class="form-group text-center">
        <select #sectionSelector class="form-control" (change)="sectionChanged()"
            [(ngModel)]="selectedSection"
        >
            <option [value]="null" disabled>Section</option>
            <option *ngFor="let section of courseSections" [ngValue]="section">
                {{section.section}}
            </option>
        </select>
    </div>
</div>