<div class="sideBar">
    <div class="sideBar-header">
        <div class="sideBar-header-img">
            <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                alt="User picture" />
        </div>
        <div class="sideBar-header-content">
            <h5 class="text-white">Faculty Name</h5>
            <p class="user-role text-white">Lecturer</p>
        </div>
    </div>
    <div class="sideBar-content">
        <div class="sidebar-menu">
            <div class="sideItem" routerLink="dashboard" routerLinkActive="active">
                <a>
                    <i class="fa fa-tachometer-alt" style="color: white;"></i>
                    <span>Dashboard</span>
                    <hr>
                </a>
            </div>
            <div class="sideItem" routerLink="configcourse" routerLinkActive="active">
                <a>
                    <i class="fas fa-address-book" style="color: white;"></i>
                    <span>Course Config</span>
                    <hr>
                </a>
            </div>
            <div class="sideItem" routerLink="marks" routerLinkActive="active">
                <a>
                    <i class="far fa-gem" style="color: white;"></i>
                    <span>Student Mark</span>
                    <hr>
                </a>
            </div>
            <div class="sideItem" routerLink="reports" routerLinkActive="active">
                <a>
                    <i class="fas fa-file-pdf" style="color: white;"></i>
                    <span>Report</span>
                    <hr>
                </a>
            </div>
            <div class="sideItem" routerLink="profile" routerLinkActive="active">
                <a>
                    <i class="fas fa-file-pdf" style="color: white;"></i>
                    <span class="sidebar-menu-item">Profile</span>
                    <hr>
                </a>
            </div>
            <div class="sideItem" routerLink="charts" routerLinkActive="active">
                <a>
                    <i class="fa fa-chart-line" style="color: white;"></i>
                    <span>Charts</span>
                    <hr>
                </a>
            </div>
        </div>
    </div>
</div>