<<<<<<< HEAD

.sideBar-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    height: 100px;
=======
.active {
    background-color: #1ac0d266;
    font-weight: bold;
}

.sidebar-menu-item a {
    color: white;
}

.svg-inline--fa {
    margin-right: 6px !important;
>>>>>>> 46983fab70db3a310ffbaf722ff22dff5ea44c75
}

.sideBar-header-img{
    width: 30%;
}
.sideBar-header-img img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.sideBar-header-content{
    width: 70%;
}

.sideBar-content{

}
.sideItem{
    height: 50px;
    position: relative;
    display: flex;
    padding-left: 25px;
}
.sideItem a::before{
    position: absolute;
    width: 5px;
    background: white;
    height: 40px;
    content: "";
    left: 5px;
    top: 5px;
}

.sideItem a{
    padding-top: 10px !important;
    color: white;
}



.active{
    background-color: cadetblue;
}



