<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand text-center">
            <a routerLink="{{role}}/dashboard">East West University</a>
        </div>
        <left-bar-faculty *ngIf="role === 'faculty'"></left-bar-faculty>
        <left-bar-admin *ngIf="role === 'admin'"></left-bar-admin>
    </div>
</nav>

<script>
    let logoutBtn = document.getElementsByClassName('btn-danger')[0];
    logoutBtn.addEventListener('click', function(event) {
        axios.post('/auth/logout')
            .then(result => {
                window.location.href = '/';
            })
            .catch(err => {
                window.location.href = '/';
            })
    })
</script>