<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Start First Row -->

                <div class="col-md-12">
                    <!--Start Left Col -->

                    <div class="row">
                        <!-- Start Course & Section Row -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group text-center">
                                        <select class="form-control" [(ngModel)]="selectedCoursePk" (change)=courseChanged()>
                                            <option [value]="''" selected="" disabled>Course</option>
                                            <option [value]="course.course_pk" *ngFor="let course of (allCourses | async)">
                                                {{course.course_code}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <app-semester-selector class="row">
                            </app-semester-selector>
                        </div>

                    </div> <!-- End Course & Section Row -->
                    <hr>
                    <div class="student-mark-input-table-border mt-2">
                        <div class="row mt-3">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-success" id="saveBtn">Save</button>
                            </div>

                        </div><!-- End Assessment drop down & Search Row -->

                        <div class="row mt-2">
                            <!-- Start mark input Row -->
                            <div class="student-table-scrol">
                                <div class="col-md-12 table-scroling ml-1">
                                    <ag-grid-angular
                                        #copoAgGrid
                                        class="ag-theme-alpine"
                                        [domLayout]="'autoHeight'"
                                        [columnDefs]="copoColDefs"
                                        [rowData]="copoRowData | async"
                                    >
                                    </ag-grid-angular>
                                </div>
                            </div> <!-- End mark input Row -->
                        </div>

                    </div> <!-- End Left Col -->
                </div> <!-- End First Row -->

            </div> <!-- Container Fluid End -->
        </div>
    </main>
    <!-- page-content" -->
</div>